/*
 * style.css - Dicoding Submission
 * 2021 - Gandara Fajar Umbara
 * Color Pallete using
 * https://flatuicolors.com/palette/defo
 */

* {
    -webkit-box-sizing: border-box;
       -mox-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

body {
    background-color: #c5d7bd;
    color: #2c3e50; /* Midnight Blue */
}

a {
    color: #3498db; /* Peter River */
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

a:hover,
a:focus {
    border-bottom-color: #3498db; 
}

@media (min-width: 800px){
    .container {
        width: 1024px;
    }
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #9fb8ad;
}

header a {
    color: inherit;
    letter-spacing: 5px;
    display: inline-block;
}

header a + a {
    margin-left: 15px;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
}

nav {
    text-align: center;
}

footer::before, nav::after{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    content: ".   .   .   .   .";
    color: #c5d7bd;
    text-align: center;
}

.profile {
    margin-top: 30px;
}

.profile img {
    width: 50%;
    border-radius: 50%;
}

@media (min-width: 800px){
    .flex-container {
        display: flex;
    }

    #content {
        flex-basis: 85%;
    }

    .profile {
        margin-top: 0;
        flex-grow: 1;
        text-align: center;
    }
}

#articles, #projects {
    display: block;
}

article {
    margin-bottom: 30px;
}

article h2 {
    margin-bottom: 10px;
}

footer p {
    text-align: center;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 5px;
}
